body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
	background: #777;
	text-align: center;
	font-size: 18px;
	width: 960px;
	margin: 0 auto; /* centers content */
}

header, nav, .wrap, footer {
	margin: 8px auto; /* centers content */
}

header, nav, section, aside, footer {
	background: #ebebeb;	
	padding: 30px 10px 10px;
}

section {
	width: 475px;
	float: left;
	margin-right: 15px;
}

article {
	background: #777;
}

article p {
	color: #ebebeb;
} 

article div {
 	background: #ebebeb;
 	margin: 10px;
 }

 article div p {
 	color: #777;
 }

h1,
p {
	color: #777;
	display: inline-block;
	margin: 10px 0;
}

.wrap:after , article:after{ /* fix for collapsing elements */
  content: "";
  display: table;
  clear: both;
}

aside {
	width: 430px;
	float: left
}
section, aside {
	height: 200px;
	margin-top: 4px;
	margin-bottom: 4px; 
}

footer {
	clear: both; /* move element below another */
}
